---
SortIncludes: false
# 引数は左揃え
AlignAfterOpenBracket: Align

# 連続する行の = の位置を揃える
AlignConsecutiveAssignments: true

# 連続する行の宣言の位置を揃える
AlignConsecutiveDeclarations: true

# マクロの位置を揃える
AlignConsecutiveMacros: true

# 二項演算子と三項演算子を揃える
AlignOperands: true

# 連続する行のコメントの位置揃える
AlignTrailingComments: true

# 短い関数を単一行にしない
AllowShortFunctionsOnASingleLine: None

# { } の位置
# "BreakBeforeBraces: Custom" の場合に有効となる
# true なら独立行にする
BraceWrapping:
    AfterControlStatement: false  # 制御文の後
    AfterEnum: true          # enumの後 (単一行にしないため)
    AfterFunction: true      # 関数の後
    AfterStruct: true        # structの後 (単一行にしないため)
    AfterUnion: true         # unionの後 (単一行にしないため)
    AfterExternBlock: false  # externの後
    BeforeCatch: false       # catchの前
    BeforeElse: false        # elseの前

# { } の位置をカスタム設定する
BreakBeforeBraces: Custom

# 1行の文字数を制限する (0で無制限)
ColumnLimit: 120

# includeを名前順にソートする
IncludeBlocks: Preserve

# swicth分のcaseにインデントを設定する
IndentCaseLabels: true

# インデントは4スペース
IndentWidth: 4

# ポインターの * & は変数宣言の左に記述する
PointerAlignment: Right

# キャストの後ろにスペースを入れない
SpaceAfterCStyleCast: false

# 制御文の ( の前にスペースを入れる
SpaceBeforeParens: ControlStatements

# コメントの前に4スペース入れる
SpacesBeforeTrailingComments: 4

# AlignArrayOfStructures: Left


